body {
    font-family: monospace;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(44, 38, 40);
    color: rgb(212, 99, 1);
    font-size: large;
}

li {
    margin: 2px;
}

p {
    font-size: larger;
    font-weight: bold;
    margin: 10px;
}

button {
    /* font-weight: bold; */
    margin-top: 5px;
    font-size: large;
    font-family: monospace;
    background-color: grey;
}